<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Bidstake</title>
        {% load static %}
        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/slick.css' %}"/>

        <link href="{% static 'css/tooplate-little-fashion.css' %}" rel="stylesheet">
        
<!--


-->
    </head>
    
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="index.html">
                        <strong><span>Bid</span> Stake</strong>
                    </a>

                    <div class="d-lg-none">
                        <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

                        <a href="product-detail.html" class="bi-bag custom-icon"></a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'index' %}">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">Story</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'products' %}">Products</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'faq' % }">FAQs</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                            </li>
                        </ul>

                        <div class="d-none d-lg-block">
                            <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

                            <a href="product-detail.html" class="bi-bag custom-icon"></a>
                        </div>
                    </div>
                </div>
            </nav>

            <header class="site-header section-padding-img site-header-image">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 header-info">
                            <h1>
                                <span class="d-block text-primary">Bid</span>
                                    <span class="d-block text-dark">Stake</span>
                            </h1>
                        </div>
                    </div>
                </div>

                <img src="/auctions/bidstake-new/bidstake-images/header/contact-main-2.jpg" class="header-image img-fluid" alt="">
            </header>

            <section class="team section-padding">
                <div class="container">
                    <div class="row">








                        <div class="col-12">
                            <h2 class="mb-5">Meet our <span>BidStake</span> team</h2>
                        </div>

                        <div class="col-lg-4 mb-4 col-12">
                            <div class="team-thumb d-flex align-items-center">
                                <img src="/auctions/bidstake-new/bidstake-images/people/Satu-300x300.jpg" class="img-fluid custom-circle-image team-image me-4" alt="">

                                <div class="team-info">
                                    <h5 class="mb-0">Satyam </h5>
                                    <strong class="text-muted">Front-end</strong>

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#don">
                                      <i class="bi-plus-circle-fill"></i>
                                    </button>

                                </div>
                            </div>
                        </div>





                        <div class="col-lg-4 mb-4 col-12">
                            <div class="team-thumb d-flex align-items-center">
                                <img src="/auctions/bidstake-new/bidstake-images/people/Ahamad-300x300.jpg" class="img-fluid custom-circle-image team-image me-4" alt="">

                                <div class="team-info">
                                    <h5 class="mb-0">Ahmad</h5>
                                    <strong class="text-muted">DBA</strong>

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#kelly">
                                      <i class="bi-plus-circle-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </div>






                        <div class="col-lg-4 mb-lg-0 mb-4 col-12">
                            <div class="team-thumb d-flex align-items-center">
                                <img src="#" class="img-fluid custom-circle-image team-image me-4" alt="">

                                <div class="team-info">
                                    <h5 class="mb-0">Nancy</h5>
                                    <strong class="text-muted">Back-end</strong>

                                    <!-- Button trigger modal -->

                                    <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="Marie">
                                        <i class="bi-plus-circle-fill"></i>
                                      </button>
  
                                  </div>
                              </div>
                          </div>
















                          






















                          <div class="col-lg-4 mb-lg-0 mb-4 col-12">
                            <div class="team-thumb d-flex align-items-center">
                                <img src="/auctions/bidstake-new/bidstake-images/people/Gunit-300x300.jpg" class="img-fluid custom-circle-image team-image me-4" alt="">

                                <div class="team-info">
                                    <h5 class="mb-0">Gunit</h5>
                                    <strong class="text-muted">AWS</strong>

                                    <!-- Button trigger modal -->

                                    <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="Marie">
                                        <i class="bi-plus-circle-fill"></i>
                                      </button>
  
                                  </div>
                              </div>
                          </div>





  
                          <div class="col-lg-4 mb-4 col-12">
                              <div class="team-thumb d-flex align-items-center">
                                  <img src="/auctions/bidstake-new/bidstake-images/people/Anshul-300x295.jpg" class="img-fluid custom-circle-image team-image me-4" alt="">
  
                                  <div class="team-info">
                                      <h5 class="mb-0">Anshul</h5>
                                      <strong class="text-muted">UI-UX</strong>


                                    <!-- Button trigger modal -->


                                      <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#ANS">
                                        <i class="bi-plus-circle-fill"></i>
                                      </button>
  
                                  </div>
                              </div>
                          </div>





  
                          <div class="col-lg-4 mb-4 col-12">
                              <div class="team-thumb d-flex align-items-center">
                                  <img src="/auctions/bidstake-new/bidstake-images/people/Senthil-300x297.jpg" class="img-fluid custom-circle-image team-image me-4" alt="">
  
                                  <div class="team-info">
                                      <h5 class="mb-0">Senthil</h5>
                                      <strong class="text-muted">UI-UX</strong>

                                    <!-- Button trigger modal --> 

                                    <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="Senthil">
                                      <i class="bi-plus-circle-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </section>

            <section class="testimonial section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-9 mx-auto col-11">
                            <h2 class="text-center">Customer love, <br> <span>Bid</span> Stake</h2>

                            <div class="slick-testimonial">
                                <div class="slick-testimonial-caption">
                                    <h6>Satyam Skilled Front-end/UI-UX developer who brings creativity and functionality to the Bidstake website's user interface. His expertise ensures an intuitive and visually appealing design, enhancing user experience and engagement</h6>

                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                        <img src="/auctions/bidstake-new/bidstake-images/people/Satu-300x300.jpg" class="img-fluid custom-circle-image me-3" alt="">
  
                                        <span>Satyam   <strong class="text-muted">       Front-end/UI-UX</strong></span>
                                    </div>
                                </div>





                                <div class="slick-testimonial-caption">
                                    <h6> Ahmad, is instrumental in ensuring the seamless functioning of our database systems, maintaining data integrity, and optimizing database performance. With Ahmad's expertise, we can efficiently manage and leverage our data resources to support Bidstake's operations and growth</h6>

                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                        <img src="/auctions/bidstake-new/bidstake-images/people/Ahamad-300x300.jpg" class="img-fluid custom-circle-image me-3" alt="">

                                        <span>Ahmad   <strong class="text-muted">   Database manager</strong></span>
                                    </div>
                                </div>






                                <div class="slick-testimonial-caption">
                                <h6> Rachit serves as Bidstake's proficient Back-end Manager, overseeing the robust functionality and efficiency of our server-side operations. With a keen eye for optimization and reliability, Rachit ensures seamless integration of data and smooth operation of our platform</h6>

                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                        <img src="/auctions/bidstake-new/bidstake-images/people/rachit-300x300.jpg" class="img-fluid custom-circle-image me-3" alt="Marie">

                                        <span>Rachit  <strong class="text-muted">Back-end manager</strong></span>
                                    </div>
                                </div>







                        






                                    <div class="slick-testimonial-caption">
                                        <h6> Gunit serves as Bidstake's proficient Back-end Manager, overseeing the robust functionality and efficiency of our server-side operations. With a keen eye for optimization and reliability, Rachit ensures seamless integration of data and smooth operation of our platform</h6>
        
                                            <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                                <img src="/auctions/bidstake-new/bidstake-images/people/Gunit-300x300.jpg" class="img-fluid custom-circle-image me-3" alt="Marie">
        
                                                <span>Gunit  <strong class="text-muted">Back-end manager</strong></span>
                                            </div>
                                        </div>




                                





                                






                                <div class="slick-testimonial-caption">
                                    <p class="lead">Over three years in business, We’ve had the chance to work on a variety of projects, with companies Lorem ipsum dolor sit amet</p>

                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                        <img src="/auctions/bidstake-new/bidstake-images/people/Anshul-300x295.jpg" class="img-fluid custom-circle-image me-3" alt="">

                                        <span>Catherine, <strong class="text-muted">Dress Fashion</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-10 me-auto mb-4">
                        <h4 class="text-white mb-3"><a href="index.html">Bid </a> Stake</h4>
                        <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2022 <strong>Bid stake</strong></p>
                        <br>
                        <p class="copyright-text">Designed by <a href="#" target="_blank">Bidstake</a></p>
                    </div>

                    <div class="col-lg-5 col-8">
                        <h5 class="text-white mb-3">Sitemap</h5>

                        <ul class="footer-menu d-flex flex-wrap">
                            <li class="footer-menu-item"><a href="about.html" class="footer-menu-link">About</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Products</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Privacy policy</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">FAQs</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-4">
                        <h5 class="text-white mb-3">Social</h5>

                        <ul class="social-icon">

                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                            <li><a href="#" class="social-icon-link bi-skype"></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>

        <!-- TEAM MEMBER MODAL -->
        <div class="modal fade" id="don" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Satyam Pote</h3>

                        <h6 class="text-muted">Principal Software Developer</h6>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <h5 class="mb-4">I'm Satyam, a B.Tech student in Computer Science & Technology, focusing on Cloud Tech. & DevOps. I'm enthusiastic about technology and its transformative</h5>

                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>Front-end  UI-UX</p>
                            </div>

                            <div class="col-lg-6 col-12">
                                <p>Back-End   DBA</p>
                            </div>

                            <div class="col-lg-6 col-12">
                                <p>Git  </p>
                            </div>

                            <div class="col-lg-6 col-12">
                                <p>Jenkins   </p>
                            </div>
                        </div>

                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>

                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- TEAM MEMBER MODAL -->
        <div class="modal fade" id="kelly" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Ahamad</h3>

                        <h6 class="text-muted">Database Engineer</h6>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <h5 class="mb-4">I'm Ahamad, a B.Tech student in Computer Science & Technology, focusing on Cloud Tech. & DevOps. I'm enthusiastic about technology and its transformative</h5>

                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>Back-End   DBA</p>
                            </div>

                            <div class="col-lg-6 col-12">
                                <p>Database manager</p>
                            </div>
                        </div>

                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>

                            <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- TEAM MEMBER MODAL -->
        <div class="modal fade" id="Marie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Rachit</h3>

                        <h6 class="text-muted">Founder & CEO</h6>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <h5 class="mb-4">I'm Rachit, a B.Tech student in Computer Science & Technology, focusing on Cloud Tech. & DevOps. I'm enthusiastic about technology and its transformative</h5>

                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>Front-end / Back-End</p>
                            </div>

                            <div class="col-lg-6 col-12">
                                <p>Database manage </p>
                            </div>
                        </div>

                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>

                            <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                            <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                            <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/Headroom.js' %}"></script>
        <script src="{% static 'js/jQuery.headroom.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>


    </body>
</html>
